tentative_construction_patrons/.env
tests/*

#pour commit le sous-dossier "corpus/wikipedia" mais pas les fichiers qu'il contient
corpus/wikipedia/*
!corpus/wikipedia/.gitkeep

#pour commit le sous-dossier "corpus/marmiton" mais pas les fichiers qu'il contient
corpus/marmiton/*
!corpus/marmiton/.gitkeep

# Mac OS
.DS_Store
post_traitement/.DS_Store
output/wikipedia/.DS_Store
extraction_relations/cc.fr.300.vec.gz
extraction_relations/output/*
